body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    color: #F5F5F5;
}
p {
    padding: 0px;
    margin: 0px;
}
#calc-body{
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
    width: 284px;
    height: 470px;
    background-color: #0A0A0A;
    border-radius: 10px;
    padding: 1rem;
    
}
textarea{
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 284px;
    height: 95px;
    font-size: 60px;
    background-color: #3B3B3B;
    color: #f5f5f5;
    border-style:none;
    outline: none;
    resize: none;
    border-radius: 5px;
    padding-top: 28px;
    overflow: hidden;
    padding-right: 0.5rem;


}
.buttonStyle {
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5rem;
    margin-left: 0.15rem;
    border-radius: 5px;
    background-color: #3B3B3B;
    color: #f5f5f5;
    border: none;
    width: 65px;
    height: 65px;
    font-size: 35px;
    outline:none;

}

.buttonStyle:active{
    
        background-color: #C4C4C4;
        box-shadow: 0 2px #666;
        transform: translateY(1px);
      
}
.buttonStyle:hover{
    background-color: #666;
}
#clear {
    height: 65px;
    width: 208px;
    text-align: left;
    
}
#equal {
    background-color: #f5f5f5;
    color: #3b3b3b;
}

#multiply span {
    position: relative;
    top: 7px;
}

