#calc-body{
    width: 250px;
    height: auto;
    background-color: gray;
    padding: 20px;
    
}
#calc-body textarea{
    display: block;
    width: 100%;
    height: 20px;
}
#buttons-container{
    padding-left: 15px;
    padding-top: 10px;
}
button{
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: white;
}

#clear {
    text-align: center;
    width: 67.4%;
}
